/* Шапка */
.header {
    padding: 92px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    justify-self: center;
    display: block;
    width: 148px;
}

.header__logo-image {
    width: 100%;
}

.header__address {
    justify-self: end;
    font-size: 18px;
    line-height: 1.35;
    max-width: 240px;
    font-style: normal;
}

/* Обложка */
.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  margin: 0 auto;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  width: 1000px;
  height: 385px;
  margin: 165px auto 0;
  z-index: 1;
}

.aligned-text {
  display: block;
  position: absolute;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  height: 115px;
}

.aligned-text:first-child {
  width: 286px;
  top: 0;
  left: 0;
  text-align: left;
}

.aligned-text_center {
  width: 339px;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.aligned-text_right {
  width: 387px;
  top: 270px;
  right: 0;
  text-align: right;
  letter-spacing: 30px;
}

.cover__description {
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 1;
}

.cover__description-text {
  font-weight: 400;
  word-spacing: 18px;
}

.bet-button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 32px;
  font-size: 22px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
}
/*awdawd*/
/*LOTS*/
.lots {
  width: 1100px; /* фиксируем ширину как у cover */
  margin: 0 auto;
  padding: 180px 50px; /* padding вместо фиксированной высоты */
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
}

.lots__card-list-item {
    flex: 1;
    min-height: 450px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg) center/cover no-repeat;
}

.card_type_book {
    background: url(../images/card-lot-02.jpg) center/cover no-repeat;
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg) center/cover no-repeat;
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.2;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    font-size: 20px;
    margin-left: 40px;
    text-underline-offset: 5px;
}

/* Секция "Об аукционе" */
.about {
    width: 1100px; /* фиксируем ширину как у остальных */
    margin: 0 auto;
    padding: 0 50px 180px; /* padding вместо фиксированной высоты */
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
}

.about__column:first-child {
    justify-self: center;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
}

.about__text p:first-child {
    margin-bottom: 25px;
}

/* Подвал */
/* Подвал */
.footer {
    width: 1100px;
    margin: 0 auto;
    padding: 180px 50px 90px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

/* ИСПРАВЛЕНИЕ: делаем каждый пункт меню на отдельной строке */
.footer__menu-list-item {
    margin-bottom: 5px; /* небольшой отступ между пунктами */
}

.footer__menu-list-item:last-child {
    margin-bottom: 0; /* убираем отступ у последнего пункта */
}

.footer__menu-link {
    font-size: 18px;
    text-underline-offset: 4px;
    display: inline-block; /* чтобы ссылка вела себя как блок */
    white-space: nowrap; /* запрещаем перенос текста внутри ссылки */
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    justify-self: end;
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
}

/* Общие стили */
body {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

ul, ol {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
}